<!-- Home -->
<div class="ui main text container center aligned">
	<h1 class="ui header">aleDsz Store</h1>
	<p>Seja bem-vindo à aleDsz Store!</p>
	<p>Aqui você pode adquirir peças para o seu PC Gamer de uma forma mais prática e com um precinho bem confortável ao seu bolso.</p>
</div>

<!-- About us -->
<div class="ui main text container">
	<h1 class="ui header center aligned">A aleDsz Store</h1>
	<p>
		A <b>aleDsz Store</b> foi fundada em 2009 com o intuito de trazer uma maior comodidade para os teus clientes na hora de montar o seu computador
		ou até a sua estação de jogos, por meio de consoles e computadores. Porém estes produtos são caros em território brasileiro.
	</p>
	<p>
		Visando isso, a aleDsz Store criou um <i>marketplace</i> para que os usuários realizem vendas para os nossos clientes brasileiros por meio
		do nosso sistema e com a garantia de que o produto não será taxado e que o tempo de entrega seja o mais rápido possível.<br />
	</p>
	<p>
		Garantimos também quem ambos tenham a melhor experiência no meio de pagamento, pois estaremos realizando uma transação segura
		e o anunciador só terá o seu dinheiro assim que o cliente receber o produto em mãos.
	</p>
</div>